<div class="row">
    <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/2019507" 
        alt="Card image cap" style="width: 100%">
      <div class="card-block">
        <h4 class="card-title">{{loggedUser.username}}</h4>
        <p class="card-text">
          {{loggedUser.aboutme}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-globe" aria-hidden="true"></i> Email: {{loggedUser.email}}</li>
      <div class="card-block">
        <a href="#/edit/profile" class="card-link">Editar Perfil</a>
        <a href="#" class="card-link">Seguidores</a>
      </div>
    </div>

    </div>
    <div class="col-sm-9">
        <div class="card text-xs-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs pull-xs-left">
              <li class="nav-item">
                 <a class="nav-link active" href="#myFeed" data-toggle="tab" role="tab" 
                    ng-click="activateNav($event)">
                    Feed <i class="fa fa-wpforms" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#myBooks" data-toggle="tab" role="tab" 
                    ng-click="activateNav($event)">
                  Meus Livros <i class="fa fa-book" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#myGroups" data-toggle="tab" role="tab" 
                    ng-click="activateNav($event)">
                  Meus Grupos de Leitura <i class="fa fa-users" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#myFrieds" data-toggle="tab" role="tab" 
                    ng-click="activateNav($event)">
                  Meus Amigos <i class="fa fa-comments" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="card-block">

            <div class="tab-content">
              <div class="tab-pane fade in active" id="myFeed" role="tabpanel">myFeed</div>
              <div class="tab-pane fade" id="myBooks" role="tabpanel">myBooks</div>
              <div class="tab-pane fade" id="myGroups" role="tabpanel">myGroups</div>
              <div class="tab-pane fade" id="MyFriends" role="tabpanel">MyFriends</div>
            </div>

          </div>
        </div>
    </div>
</div>