<div class="row">
    <div class="col-sm-3">
    <div class="card card-block">
        <div class="row">
            <div class="col-sm-12">
                <figure class="figure">
                  <img src="https://avatars2.githubusercontent.com/u/2019507?v=3&s=460" class="figure-img img-fluid img-rounded" 
                        alt="A generic square placeholder image with rounded corners in a figure.">
                  <figcaption class="figure-caption">A caption for the above image.</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">       
                <ul class="nav nav-pills nav-stacked">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
    <div class="col-sm-9">
        <div class="card text-xs-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills pull-xs-left">
              <li class="nav-item">
                 <a class="nav-link active" href="#">Feed <i class="fa fa-wpforms" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Meus Livros <i class="fa fa-book" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Meus Grupos de Leitura< <i class="fa fa-users" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Meus Amigos <i class="fa fa-comments" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="card-block">

                <div class="list-group">
                  <a href="" class="list-group-item list-group-item-action">
                    <h5 class="list-group-item-heading">List group item heading</h5>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                  <a href="" class="list-group-item list-group-item-action">
                    <h5 class="list-group-item-heading">List group item heading</h5>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                  <a href="" class="list-group-item list-group-item-action">
                    <h5 class="list-group-item-heading">List group item heading</h5>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>

          </div>
        </div>
    </div>
</div>